.resCard {
  display: inline-block;
  width: 300px;
  /* height: 100%; */
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  padding: 10px;
}

.resImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.resCard:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: 0.1s ease-in;
  border: 1px solid #f0f0f0;
  transform: scale(1.1);
}

.resCard .details {
  margin: 10px 0 0 10px;
}

.resCard .details h3:first-child {
  font-size: 1.3rem;
}

.resCard .details h4 {
  font-size: 1.1rem;
  font-weight: 400;
}
